/* .container-content {
    background: linear-gradient(180deg, rgba(4,85,191,1) 0%, rgba(30,105,190,1) 20%, rgba(45,120,219,1) 35%, rgba(67,142,242,1) 50%, rgba(116,176,255,1) 70%);
    background-size: cover;
    background-position: center;
} */